@import '~@angular/material/theming';


@mixin bgis-user-menu-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .dropdown {
        background: mat-color($primary, 400);
    }

}
