:host {
    height: 100%;
}

.logo-container {
    height: 100%;
    position: relative;


    .logo-btn {
        display: flex;
        justify-content: center;
        height: 100%;
        // min-width: 160px;
        width: 100%;

        .logo {
            width: 30px;
        }

        .name {
            // margin: 0 8px 0 8px;
            font-size: 24px;
            font-weight: bold;
        }

        .sub-name {

        }

    }


}
