:host {
    height: 100%;
    width: 100%;
}

.sidebar-container {
    width: 100%;
    position: relative;
}

.sidebar-content {
    z-index: unset;
    overflow: hidden;
}

.sidebar-sidemenu {

}

.sidebar-sidemenu-icons {

}
