@import '~@angular/material/theming';

// global variable for theme

@mixin bgis-variables-blur-mint-theme($theme) {

    --bgisToolbarHeight: 64px;
    --bgisToolbarBackgroundColor: red;
    --bgisToolbarComponentsColor: white;
    --bgisToolbarLogoWidth: 170px;

    --bgisSidebarBackground: red;
    --bgisSidebarSideMenuItemColor: white;
    --bgisSidebarMenuWidth: 180px;
    --bgisSidebarMenuIconsWidth: 80px;
    --bgisSidebarTop: 64px;


}
