@import '~@angular/material/theming';

@mixin bgis-search-bar-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);


}
